body {
    background-color: black;
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
}

.poster {
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: white;
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    text-align: center;
}

.motivation {
    border: 5px solid white;
    width: 100%;
}
  